/dataset/
/models/
/dataset-256/
/dataset-512/
/dataset-768/
/dataset-1024/
/predictions/
.idea
/sam_models/
/dataset-prepared/
/dataset-test/
/dataset-2048-4S/
/dataset-768-8S/
/dataset-256-8S/
/dataset-768-4S/
/dataset-1536-1S/
/dataset-1280-1S/
/dataset-1792-1S/
/dataset-1280-8S/
/data/
